<!DOCTYPE html>
 
<head>
    <meta charset="utf-8">
 
    <!-- Load d3.js -->
    <script src=https://d3js.org/d3.v4.js></script>
 
    <!-- Create a div where the graph will take place -->
    <div id="my_dataviz"></div>
    <style>
        /* Optional: Add some styling to improve visual appearance */
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            /* Ensure that the content covers the entire viewport height */
        }
 
        .container {
            flex-grow: 1;
            /* Make the container grow to fill the available space */
        }
 
        .slider-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            background-color: #f0f0f0;
        }
        
        input[type="range"] {
            width: 80%;
            margin: 0 10%;
        }
 
        span {
            font-size: 1.2em;
            font-weight: bold;
        }
    </style>
</head>
<body>
 
    <div class="container">
      <!-- Your main content goes here -->
    </div>
 
    <div class="slider-container">
      <span>Year: <span id="selectedYear">1970</span></span>
      <input type="range" min="1970" max="2000" step="10" value="1970" id="yearSlider">
     
    </div>
    
<script>
    var data_1970 = [
        { diagnosis: "MentalDisorder", totcases: 50, year: 1970 },
        { diagnosis: "Schizophrenia", totcases: 500, year: 1970 },
        { diagnosis: "AcuteStressReaction", totcases: 150, year: 1970 },
        { diagnosis: "DepressiveEpisode", totcases: 250, year: 1970 },
        { diagnosis: "SuicidalIdeation", totcases: 3650, year: 1970 },
        { diagnosis: "DrugInducedPsychosis", totcases: 2550, year: 1970 },
        { diagnosis: "Anxiety", totcases: 450, year: 1970 },
        { diagnosis: "AlcoholAbuse", totcases: 950, year: 1970 },
        { diagnosis: "Dysthymia", totcases: 5000, year: 1970 },
        { diagnosis: "Crisis", totcases: 2500, year: 1970 },
 
    ];
 
var data = [
        { diagnosis: "MentalDisorder", totcases: 1792, year: 1980 },
        { diagnosis: "Schizophrenia", totcases: 1825, year: 1980 },
        { diagnosis: "AcuteStressReaction", totcases: 513, year: 1980 },
        { diagnosis: "DepressiveEpisode", totcases: 3765, year: 1980 },
        { diagnosis: "SuicidalIdeation", totcases: 4679, year: 1980 },
        { diagnosis: "DrugInducedPsychosis", totcases: 1720, year: 1980 },
        { diagnosis: "Anxiety", totcases: 2870, year: 1980 },
        { diagnosis: "AlcoholAbuse", totcases: 314, year: 1980 },
        { diagnosis: "Dysthymia", totcases: 3186, year: 1980 },
        { diagnosis: "Crisis", totcases: 3700, year: 1980 },
        { diagnosis: "MentalDisorder", totcases: 2386, year: 1990 },
        { diagnosis: "Schizophrenia", totcases: 3565, year: 1990 },
        { diagnosis: "AcuteStressReaction", totcases: 4352, year: 1990 },
        { diagnosis: "DepressiveEpisode", totcases: 258, year: 1990 },
        { diagnosis: "SuicidalIdeation", totcases: 1689, year: 1990 },
        { diagnosis: "DrugInducedPsychosis", totcases: 2762, year: 1990 },
        { diagnosis: "Anxiety", totcases: 2994, year: 1990 },
        { diagnosis: "AlcoholAbuse", totcases: 4323, year: 1990 },
        { diagnosis: "Dysthymia", totcases: 1741, year: 1990 },
        { diagnosis: "Crisis", totcases: 912, year: 1990 },
        { diagnosis: "MentalDisorder", totcases: 4576, year: 2000 },
        { diagnosis: "Schizophrenia", totcases: 4584, year: 2000 },
        { diagnosis: "AcuteStressReaction", totcases: 2365, year: 2000 },
        { diagnosis: "DepressiveEpisode", totcases: 3849, year: 2000 },
        { diagnosis: "SuicidalIdeation", totcases: 197, year: 2000 },
        { diagnosis: "DrugInducedPsychosis", totcases: 1547, year: 2000 },
        { diagnosis: "Anxiety", totcases: 158, year: 2000 },
        { diagnosis: "AlcoholAbuse", totcases: 3893, year: 2000 },
        { diagnosis: "Dysthymia", totcases: 2042, year: 2000 },
        { diagnosis: "Crisis", totcases: 2022, year: 2000 }
    ];
 
function filterByYear(array, targetYear) {
        return array.filter(item => item.year == targetYear);
    }
   
 
    // JavaScript to display the selected year dynamically
    const yearSlider = document.getElementById('yearSlider');
    const selectedYear = document.getElementById('selectedYear');
 
    // Initial display of the selected year
    selectedYear.textContent = yearSlider.value;
 
    // set the dimensions and margins of the graph
    var margin = { top: 10, right: 20, bottom: 30, left: 50 },
        width = 1800 - margin.left - margin.right,
        height = 800 - margin.top - margin.bottom;
 
    // append the svg object to the body of the page
    var svg = d3.select("#my_dataviz")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");
   
    // Add a scale for bubble color
    var myColor = d3.scaleOrdinal()
        .domain(["MentalDisorder", "Schizophrenia", "AcuteStressReaction", "DepressiveEpisode", "SuicidalIdeation", "DrugInducedPsychosis", "Anxiety", "AlcoholAbuse", "Dysthymia", "Crisis"])
        .range(["maroon", "lime", "blue", "fuchsia", "dodgerblue", "yellow", "darkgray", "greenyellow", "lightskyblue", "brown"]);
 
 
    // Add X axis
    var x = d3.scaleLinear()
        .domain([1970, 2050])
        .range([0, width]);
 
    svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x).tickFormat(d => d3.format('')(d)));
 
    // Add Y axis
    var y = d3.scaleLinear()
        .domain([40, 5500])
        .range([height, 0]);
 
    svg.append("g")
        .call(d3.axisLeft(y));
 
    // Define the number of grid lines and spacing
    const numGridLinesX = 10;
    const numGridLinesY = 8;
    const xSpacing = width / numGridLinesX;
    const ySpacing = height / numGridLinesY;
 
    // Append vertical grid lines
    for (let i = 1; i < numGridLinesX; i++) {
        svg.append('line')
            .attr('x1', i * xSpacing)
            .attr('y1', 0)
            .attr('x2', i * xSpacing)
            .attr('y2', height)
            .style('stroke', '#ddd')  // Color of the grid lines
            .style('stroke-width', 2.0);
    }
 
    // Append horizontal grid lines
    for (let i = 1; i < numGridLinesY; i++) {
        svg.append('line')
            .attr('x1', 0)
            .attr('y1', i * ySpacing)
            .attr('x2', width)
            .attr('y2', i * ySpacing)
            .style('stroke', '#ddd')  // Color of the grid lines
            .style('stroke-width', 2.0);
    }
 
    // Add a scale for bubble size
    var z = d3.scaleLinear()
        .domain([40, 9000])
        .range([20, 60]);
 
    // Add dots
    svg.append('g')
        .selectAll("dot")
        .data(data_1970)
        .enter()
        .append("circle")
        .attr("cx", function (d) { return x(d.year); })
        .attr("cy", function (d) { return y(d.totcases); })
        .attr("r", function (d) { return z(d.totcases); })
        .attr("id", function (d) { return d.diagnosis; })
        .style("fill", function (d) { return myColor(d.diagnosis); })
        .style("opacity", "0.9")
        .attr("stroke", "black");
 
   
    // Update the displayed year when the slider value changes
    let filteredData;
    var selector;
    yearSlider.addEventListener('input', function() {
      selectedYear.textContent = this.value;
      console.log(this.value);
      filteredData = filterByYear(data, this.value);
      console.log(filteredData);
 
      filteredData.forEach(element => {
        selector = "circle#" + element.diagnosis;
        console.log(element.diagnosis);
        console.log(selector);
        d3
        .select(selector)
        .attr("cx", x(element.year) )
        .attr("cy", y(element.totcases) )
        .attr("r", z(element.totcases) )
        .style("fill", myColor(element.diagnosis))
        .style("opacity", "0.9")
        .attr("stroke", "black");
 
      });
 
    });
 
   
    
</script>
</body>

